<!DOCTYPE html>
<html>

<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

	<link rel="stylesheet" href="css/style.css" type="text/css">

	<script src="javascripts/function-scripts.js"></script>

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />

	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</head>

<body>
	<div id="page">
		{{> header}}

		<p id="title">{{this.title}}</p>
	</div>

	<div id="page-admin">
		<div class="project-label">{{admins.[7].projectlabel}}</div>
		<div class="box-with-x"></div>
		<ul id="admin-sidebar">
			<li><a href="/travel">{{admins.[8].travel}}</a></li>
			<li><a href="/reservations">{{admins.[9].reservations}}</a></li>
			<li><a href="/users">{{admins.[10].users}}</a></li>
			<li><a href="/admin">{{admins.[11].settings}}</a></li>
		</ul>

		</ul>
		<div class="admin-box"></div>
		<span id="admin-group-name">{{admins.[6].group}}</span>
		<form id="admin-window">
			<label for="id" id="id-label"><b>{{admins.[0].id}}</b></label>
			<input type="text" id="id-input" name="id">
			<label for="destination" id="destination-label"><b>{{admins.[1].destination}}</b></label>
			<input type="text" id="destination-input" name="destination">
			<label for="resort" id="resort-label"><b>{{admins.[4].resort}}</b></label>
			<input type="text" id="resort-input" name="resort">
			<label for="person-label" id="person-label"><b>{{admins.[5].person}}</b></label>
			<input type="text" id="person-input" name="person-label">
			<label for="length-stay" id="length-label"><b>{{admins.[2].lengthofstay}}</b></label>
			<input type="number" id="length-stay" name="length-stay" value="3" min="1" max="365" step="1">
			<label for="length-stay" id="night-label"><b>{{admins.[12].night}}</b></label>
			<label for="length-stay-day" id="length-label-day"><b>{{admins.[13].day}}</b></label>
			<input type="number" id="length-stay-day" name="length-stay-day" value="3" min="1" max="365" step="1">
			<label for="date-label" id="date-label"><b>{{admins.[3].startdate}}</b></label>
			<input type="date" id="date-input" name="start-date">
		</form>
		<div class="left-side-color-admin"></div>
		<div class="bottom-side-color-admin">
		</div>
		<div class="container">
			<ul id="user-options">
				<li><a href="/admin"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 256" id="user-logo"
							width="50" height="50" color="gray">
							<rect width="256" height="256" fill="none"></rect>
							<circle cx="128" cy="120" r="44"></circle>
							<path
								d="M128,24A104,104,0,1,0,232,128,104.11791,104.11791,0,0,0,128,24Zm65.75806,162.41016a79.70266,79.70266,0,0,0-24.43091-22.97461,59.83641,59.83641,0,0,1-82.6543,0A79.7048,79.7048,0,0,0,62.2417,186.41016a88.00015,88.00015,0,1,1,131.51636,0Z">
							</path>
						</svg></a></li>
				<li><a href="/admin"><svg xmlns="http://www.w3.org/2000/svg" data-name="Layer 1" viewBox="0 0 64 64"
							id="message-icon">
							<path
								d="M55.43 55.68H8.57a5.51 5.51 0 0 1-5.5-5.5V13.82a5.51 5.51 0 0 1 5.5-5.5h46.86a5.51 5.51 0 0 1 5.5 5.5v36.36a5.51 5.51 0 0 1-5.5 5.5ZM8.57 11.32a2.5 2.5 0 0 0-2.5 2.5v36.36a2.5 2.5 0 0 0 2.5 2.5h46.86a2.5 2.5 0 0 0 2.5-2.5V13.82a2.5 2.5 0 0 0-2.5-2.5Z">
							</path>
							<path
								d="M32 27.21a2 2 0 0 1-.42-.05l-17.25-5a1.5 1.5 0 0 1 .84-2.89L32 24.15l16.83-4.88a1.5 1.5 0 0 1 .84 2.89l-17.25 5a2 2 0 0 1-.42.05Z">
							</path>
						</svg></a></li>
				<li><a href="/admin"><svg xmlns="http://www.w3.org/2000/svg" image-rendering="optimizeQuality"
							shape-rendering="geometricPrecision" text-rendering="geometricPrecision"
							viewBox="0 0 6827 6827" id="chat-icon">
							<path fill-rule="nonzero"
								d="M3964 3142c0 405-150 775-397 1054-238 269-565 453-934 505l-133 498c-11 43-55 68-98 57-29-8-50-30-57-58l-133-496c-369-51-696-236-934-505-247-279-397-649-397-1054 0-434 172-827 451-1112s665-461 1091-461 811 176 1091 461c279 285 451 678 451 1112zm-517 948c222-251 357-583 357-948 0-391-155-744-405-1000-250-255-595-413-977-413-381 0-727 158-977 413-250 256-405 609-405 1000 0 365 135 698 357 948 223 252 533 421 882 458 34 2 64 25 74 59l70 261 70-261c8-31 35-55 69-59 350-36 662-205 886-458z">
							</path>
							<path fill-rule="nonzero"
								d="M3487 4279c8 6 17 13 25 19 32 23 66 45 101 66 287 169 611 212 911 147 303-66 582-244 773-516 20-28 55-40 86-31l225 60-165-171c-23-24-29-59-16-88 135-306 146-642 51-945-95-299-294-565-581-734-222-131-466-186-704-174-216 11-427 77-613 194-22-26-45-51-69-75-14-15-29-29-43-43 215-142 463-223 717-236 268-13 543 49 792 196 323 190 546 488 652 824 102 322 95 679-36 1007l326 337c21 19 31 50 23 79-11 43-55 68-98 57l-451-121c-214 280-513 464-837 535-338 74-703 25-1026-165-39-23-77-48-113-74-18-13-36-27-54-41 43-34 83-69 122-107z">
							</path>
						</svg></a></li>
				<li><a href="/admin"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" id="question-icon">
							<path
								d="M8,2 C11.3137085,2 14,4.6862915 14,8 C14,11.3137085 11.3137085,14 8,14 C4.6862915,14 2,11.3137085 2,8 C2,4.6862915 4.6862915,2 8,2 Z M8,3 C5.23857625,3 3,5.23857625 3,8 C3,10.7614237 5.23857625,13 8,13 C10.7614237,13 13,10.7614237 13,8 C13,5.23857625 10.7614237,3 8,3 Z M8,10.5 C8.41421356,10.5 8.75,10.8357864 8.75,11.25 C8.75,11.6642136 8.41421356,12 8,12 C7.58578644,12 7.25,11.6642136 7.25,11.25 C7.25,10.8357864 7.58578644,10.5 8,10.5 Z M8,4.5 C9.1045695,4.5 10,5.3954305 10,6.5 C10,7.23053233 9.7882219,7.63969063 9.24604859,8.20790744 L8.98196082,8.47745399 C8.60450815,8.87101977 8.5,9.08310002 8.5,9.5 C8.5,9.77614237 8.27614237,10 8,10 C7.72385763,10 7.5,9.77614237 7.5,9.5 C7.5,8.76946767 7.7117781,8.36030937 8.25395141,7.79209256 L8.51803918,7.52254601 C8.89549185,7.12898023 9,6.91689998 9,6.5 C9,5.94771525 8.55228475,5.5 8,5.5 C7.44771525,5.5 7,5.94771525 7,6.5 C7,6.77614237 6.77614237,7 6.5,7 C6.22385763,7 6,6.77614237 6,6.5 C6,5.3954305 6.8954305,4.5 8,4.5 Z">
							</path>
						</svg></a></li>
			</ul>
		</div>
	</div>
</body>

</html>