<!DOCTYPE html>
<html>

<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

	<link rel="stylesheet" href="css/style.css" type="text/css">

	<script src="javascripts/function-scripts.js"></script>

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />

	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</head>


<body>
	<div id="background">
		<div id="page">
			{{> header}}

			<p id="title">{{this.title}}</p>

			<div id="contents">
				<div>
					<div id="news" class="body">
						<div class="sidebar">
							<h3>{{checkouts.[0].name}}</h3>
							<ul>
								<li>
									{{{checkouts.[0].listone}}}
								</li>
								<li>
									{{{checkouts.[0].listtwo}}}
								</li>
								<li>
									{{{checkouts.[0].listthree}}}
								</li>
								<li>
									{{{checkouts.[0].listfour}}}
								</li>
							</ul>
							<h3>{{checkouts.[1].name}}</h3>
							<ul>
								<li>
									{{{checkouts.[1].listone}}}
								</li>
								<li>
									{{{checkouts.[1].listtwo}}}
								</li>
								<li>
									{{{checkouts.[1].listthree}}}
								</li>
								<li>
									{{{checkouts.[1].listfour}}}
								</li>
								<li>
									{{{checkouts.[1].listfive}}}
								</li>
								<li>
									{{{checkouts.[1].listsix}}}
								</li>
							</ul>
						</div>
						<div>
							<h1>{{checkouts.[2].name}}</h1>

							{{{checkouts.[2].listone}}}
							{{{checkouts.[2].listtwo}}}
							{{{checkouts.[2].listthree}}}
							{{{checkouts.[2].listfour}}}

							<h2>{{checkouts.[3].name}}</h2>
							{{{checkouts.[3].listone}}}

							{{{checkouts.[3].listtwo}}}

							{{{checkouts.[3].listthree}}}

							{{{checkouts.[3].listfour}}}


							{{> footer}}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

</body>

</html>