<!DOCTYPE html>
<html>

<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

	<link rel="stylesheet" href="css/style.css" type="text/css">

	<script src="javascripts/function-scripts.js"></script>

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />

	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>

<body>
	<div id="background">
		<div id="page">
			{{> header}}

			<p id="title">{{this.title}}</p>

			<div id="contents">
				<div id="main">
					<div id="sidebar">
						<div class="section">
							<img src="/images/first-class.jpg"
								alt="Background Images Showing Destinations">
						</div>
						<div class="section">
							<img src="/images/reef3.jpg"
								alt="Background Images Showing Destinations">
						</div>
						<div class="section">
							<img src="/images/deluxe.jpg"
								alt="Background Images Showing Destinations">

							<div class="login-section">
								<form id="login-window">

									<label for="username" id="email-label"><b>{{logins.[0].email}}</b></label>

									<input type="text" id="input-email" name="username">

									<label for="password" id="password-label"><b>{{logins.[1].password}}</b></label>

									<input type="password" id="input-password" name="password">

									<button type="submit" id="login-button">{{logins.[3].login}}</button>
								</form>

								<button id="signup-button" onclick="goSignUp()">{{logins.[4].signup}}</button>
								<a href="/login" id="forgot-password">{{logins.[2].forgotpassword}}</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			{{> footer}}
			<h1 id="login-label">{{logins.[5].loginlabel}}</h1>

		</div>
</body>

</html>