<!DOCTYPE html>
<html>

<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

	<link rel="stylesheet" href="css/style.css" type="text/css">

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />

	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</head>

<body>
	<div id="background">
		<div id="page">
			{{> header}}


			<p id="title">{{this.title}}</p>
			{{#with travelers.[0]}}
			<h1 id="header-travel">{{this.header}}</h1>
			{{/with}}

			{{#with travelers.[1]}}
			<p id="edit-label">{{this.edit}}</p>
			{{/with}}

			{{#with travelers.[2]}}
			<a id="previous-screen" href="#" onclick="window.history.back();"> {{this.previous}}</a>

			{{/with}}

			<div class="tab">
				{{#with travelers.[3]}}
				<button class="table-travel active" onclick="openTable(event, 'Beaches')">{{this.beach}} {{counter}}</button>
				{{/with}}

				{{#with travelers.[4]}}
				<button class="table-travel" onclick="openTable(event, 'Cruises')">{{this.cruise}}
				</button>
				{{/with}}

				{{#with travelers.[5]}}
				<button class="table-travel" onclick="openTable(event, 'Mountains')">{{this.mountain}} 
					</button>
				{{/with}}

			</div>

			<form action="/travel" class="travel-search" method="get">
				<input type="text" placeholder="search travel" onfocus="this.placeholder=''"
					onblur="this.placeholder='search travel'" style="padding-left: 25px;">
				<a href="/travel" id="search-bar-submit"><i class="fa fa-search travel-search-icon"></i></a>
			</form>

			{{#with travelers.[6]}}
			<button type="submit" id="add-trip">{{this.addtrip}}</button>
			{{/with}}
			<table id="beaches-table" class="table-content">
				{{#each travelers.[7].tableheader}}
				<tr>
					<th>{{this.id}}</th>
					<th>{{this.name}}</th>
					<th>{{this.length}}</th>
					<th>{{this.start}}</th>
					<th>{{this.resort}}</th>
					<th>{{this.price}}</th>
					<th>{{this.description}}</th>
					<th></th>
				</tr>
				{{/each}}

				{{#each trips}}
				<tr>
					<td><a href="../../api/trips/{{this.code}}"><img src="images/{{this.image}}" alt="Img"></a></td>
					<td>{{this.name}}</td>
					<td>{{this.length}}</td>
					<td>{{this.start}}</td>
					<td>{{this.resort}}</td>
					<td>{{this.perPerson}}</td>
					<td>{{this.description}}</td>

					<td class="no-selection" onclick="event.stopPropagation()"> <a href="javascript:void(0);"
							style="text-decoration:none; color">⊗</a></td>
				</tr>
				{{/each}}
			</table>

			<table id="mountains-table" class="table-content hidden">

				{{#each travelers.[7].tableheader}}
				<tr>
					<th>{{this.id}}</th>
					<th>{{this.name}}</th>
					<th>{{this.length}}</th>
					<th>{{this.start}}</th>
					<th>{{this.resort}}</th>
					<th>{{this.price}}</th>
					<th>{{this.description}}</th>
					<th></th>
				</tr>
				{{/each}}

				{{#each trips}}
				<tr>
					<td><a href="../../api/trips/{{this.code}}"><img src="images/{{this.image}}" alt="Img"></a></td>
					<td>{{this.name}}</td>
					<td>{{this.length}}</td>
					<td>{{this.start}}</td>
					<td>{{this.resort}}</td>
					<td>{{this.perPerson}}</td>
					<td>{{this.description}}</td>
					<td class="no-selection" onclick="event.stopPropagation()"> <a href="javascript:void(0);"
							style="text-decoration:none;">⊗</a></td>
				</tr>
				{{/each}}
			</table>

			<table id="cruises-table" class="table-content hidden">

				{{#each travelers.[7].tableheader}}
				<tr>
					<th>{{this.id}}</th>
					<th>{{this.name}}</th>
					<th>{{this.length}}</th>
					<th>{{this.start}}</th>
					<th>{{this.resort}}</th>
					<th>{{this.price}}</th>
					<th>{{this.description}}</th>
					<th></th>
				</tr>
				{{/each}}

				{{#each trips}}
				<tr>
					<td><a href="../../api/trips/{{this.code}}"><img src="images/{{this.image}}" alt="Img"></a></td>
					<td>{{this.name}}</td>
					<td>{{this.length}}</td>
					<td>{{this.start}}</td>
					<td>{{this.resort}}</td>
					<td>{{this.perPerson}}</td>
					<td>{{this.description}}</td>

					<td class="no-selection" onclick="event.stopPropagation()"><a href="javascript:void(0);"
							style="text-decoration:none;">⊗</a></td>
				</tr>
				{{/each}}
			</table>

			{{#with travelers.[9]}}
			<button id="previous-table">{{this.previous}}</button>
			{{/with}}
			{{#with travelers.[8]}}
			<button id="next-table">{{this.next}}</button>
			{{/with}}
			{{> footer}}
		</div>
		<script src="javascripts/function-scripts.js"></script>
		
	</div>
	</div>
</body>

</html>